@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }

  main {
    width: 45%;
  }
}

@media (max-width: 500px) {
  main {
    width: 50%;
  }

  html {
    font-size: 8px;
  }

  .button-circle {
    display: none;
  }

  .mode-button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #1ba9be;
    border: none;
  }

  .mode-button::after {
    content: "";
    border: 3px solid black;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
  }

  .light-mode-button.mode-button::after {
    border: 3px solid #e2e8f0;
  }

  .light-mode-button > .button-text,
  .button-text {
    display: inline-block;
    left: auto;
    top: 100%;
    right: 50%;
    transform: translate(50%, 50%);
  }

  .tasks-container {
    height: 45rem;
  }
}
