* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

body {
  font-family: "Inter", sans-serif;
  background-color: #0f172a;
  color: #f1f5f9;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

.container {
  width: 100vw;
}

.container,
header,
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container,
header {
  align-items: center;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 4.8rem;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
  color: #22d3ee;
}
h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

/* HEADER */

header {
  width: 100%;
  border-bottom: 5px solid #22d3ee;
  padding-bottom: 3.2rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* MAIN */

main {
  margin-top: 4rem;
  width: 35%;
}

.new-task-container {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.2rem;
}

.new-task-container h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

form {
  display: flex;
  gap: 2rem;
}

form input {
  font-size: 1.2rem;

  padding: 0.4rem;
}

form input[type="submit"] {
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #22d3ee;
  border: none;
  border-radius: 50px;
  color: #0f172a;
  border: 2px solid #0f172a;
  transition: 300ms ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #e2e8f0;
}
.empty-input-message {
  display: none;
  position: fixed;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: #dc2626;
}

.clean-all-button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #f1f5f9;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  gap: 0.8rem;
  transition: 200ms ease-in-out;

  border: 2px solid #f1f5f9;
  border-radius: 50px;
  padding: 0.4rem 0.8rem;
}

.clean-all-button:hover {
  background-color: transparent;
  color: #dc2626;
  border: 2px solid #dc2626;
}

.text-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.title-icon-wrapper {
  display: flex;
  gap: 0.8rem;
}

.tasks-container {
  margin-top: 2.4rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;

  flex-direction: column;

  gap: 2rem;
  overflow-y: auto;
  margin-bottom: 3.2rem;
  height: 20rem;
}

.no-tasks-message {
  font-size: 1.6rem;
  justify-self: center;
  align-self: center;
}

.task-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.task-container span {
  font-size: 1.8rem;
  line-height: 1.6;
}

.task-container .checkbox {
  min-width: 2rem;
  min-height: 2rem;

  background-color: black;
  cursor: pointer;
  position: static;
}

.task-container input:checked ~ span {
  text-decoration: line-through;
  color: #94a3b8;
}

/* ICONS */
.icon {
  height: 2rem;
  width: 2rem;
}

.task-icon {
  width: 3rem;
  height: 3rem;
}

.trash-can-icon {
  cursor: pointer;
}

/* MODE */

.mode-button {
  background-color: transparent;
  width: 10rem;
  height: 3.5rem;
  top: 2.5rem;
  right: 5rem;
  position: absolute;
  border: 3px solid #e2e8f0;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;

  cursor: pointer;
}

.mode-button-small-size-screen {
  display: none;
}

.button-circle {
  position: absolute;
  height: 3.5rem;
  background-color: #1ba9be;
  width: 3.5rem;
  transform: scale(1.3);
  border-radius: 50%;
  left: -0.5rem;
  top: -0.3rem;
}

.button-circle::after {
  content: "";
  border: 3px solid black;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;
}

.button-text {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* LIGHT MODE */
.light-mode-button {
  border-radius: 0;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border: 3px solid #18181b;
}

.light-mode-button > .button-circle {
  left: 70%;
}

.light-mode-button > .button-circle::after {
  border: 3px solid #e2e8f0;
}

.light-mode-button > .button-text {
  left: 0.7rem;
}

.light-mode-body {
  background-color: #e2e8f0;
  color: #18181b;
}

.light-mode-clean-button {
  border: 2px solid #18181b;
  color: #18181b;
}

/* .mode::before {
  content: "";
  position: absolute;
  height: 3.5rem;
  background-color: #1ba9be;
  width: 3.5rem;
  transform: scale(1.3);
  border-radius: 50%;
} */

/* .mode::after {
  content: "dark";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.6rem;
  text-transform: uppercase;
} */
